@page "/EmpIndex"
@inject IViewEmployeesByNamUseCasee viewemployees
@inject NavigationManager navman
@using OMS.Operations.Pages.Employees.Controls
<h2>Employees List</h2>
<br />
<NavLink class="nav-link" href="AddEmp">
    <span class="oi oi-briefcase" aria-hidden="true"> Add Employee </span>
</NavLink>
<EmployeeSearchBoxComponent onsearch="ost"></EmployeeSearchBoxComponent>
<br />

<EmcardsComponentbox  searchTerms="@searchTerm"></EmcardsComponentbox>
@code {
    
    private string searchTerm = string.Empty;

    private void ost(string st)
    {
        searchTerm = st;
    }
   
}
