@page "/"
@inject IViewEmployeesByNamUseCasee viewemployees
<PageTitle>Prima Egypt For Freight and Agencies S. A. E.</PageTitle>
@*<ul>
    @foreach(var Emp in _employees)
    {
        <li>
            @Emp.FirstName - @Emp.LastName
        </li>
    }
</ul>
*@
<div class="card shadow-lg align-self-center" style="width:auto;height:-moz-fit-content;align-items:center">
    <img src="images/companylogo.bmp" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title" style="font-weight:900"> Prima Egypt For Freight and Agencies S. A. E.</h5>
        <p style="align-content:stretch">
            Is a leading freight forwarding company working in Egypt since 1999. It provides a comprehensive range of services for freight forwarding, including customs clearance, warehousing, transportation, and door-to-door delivery.
            The company has established a strong presence in the country and is known for its reliable and efficient services.
            <br />
            Prima Egypt for Freight and Agencies S.A.E. is a trusted partner of many global businesses,
            providing safe and cost-effective solutions to their supply chain needs.
            <br />
            With their extensive network of contacts in Egypt, they can arrange the most cost-effective route for the shipment of goods, whether it is by air, land, or sea.
            The company is also dedicated to providing customers with the highest level of customer service and satisfaction.

        </p>
    </div>

</div>
@*<h1 style="font-weight:600">Prima Egypt For Freight and Agencies S. A. E.</h1>
<h5>Since 1999</h5>
<hr/>
<img src="images/images.jpg" width="600" hight="600" />*@
@*<p style="align-content:stretch">
    <header style="font-weight:600;font-family:'Times New Roman';font-size:larger"> Prima Egypt for Freight and Agencies S.A.E.</header>
    Is a leading freight forwarding company working in Egypt since 1999. It provides a comprehensive range of services for freight forwarding,
    including customs clearance, warehousing, transportation, and door-to-door delivery.
    <br />
    The company has established a strong presence in the country and is known for its reliable and efficient services.
    <br />
    Prima Egypt for Freight and Agencies S.A.E. is a trusted partner of many global businesses,
    providing safe and cost-effective solutions to their supply chain needs.
    <br />
    With their extensive network of contacts in Egypt, they can arrange the most cost-effective route for the shipment of goods, whether it is by air, land, or sea.
    The company is also dedicated to providing customers with the highest level of customer service and satisfaction.

</p>*@
@code {
    private List<Employee> _employees = new List<Employee>();
    protected override async Task OnInitializedAsync()
    {
        _employees = (await viewemployees.ExecuteAsync("")).ToList();
    }
}