@page "/About"
<h3>About</h3>
<br />
<br />
<img src="images/companylogo.bmp" class="card-img-top" alt="">
<h1 class="card-title" style="font-weight:900"> Prima Egypt For Freight and Agencies S. A. E.</h1>
<p style="align-content:stretch;background-color:aqua;background-blend-mode:soft-light">
    Is a leading freight forwarding company working in Egypt since 1999. It provides a comprehensive range of services for freight forwarding, including customs clearance, warehousing, transportation, and door-to-door delivery.
    The company has established a strong presence in the country and is known for its reliable and efficient services.
    <br />
    Prima Egypt for Freight and Agencies S.A.E. is a trusted partner of many global businesses,
    providing safe and cost-effective solutions to their supply chain needs.
    <br />
    With their extensive network of contacts in Egypt, they can arrange the most cost-effective route for the shipment of goods, whether it is by air, land, or sea.
    The company is also dedicated to providing customers with the highest level of customer service and satisfaction.

</p>
@code {

}
