<div class="input-group">
    <input type="text" class="form-control " 
    placeholder="Type First or Last Name" 
    @bind-value="nameTosearch"
   />
    <button type="button" class="btn-success input-group-text" @onclick="inchg">Search</button>
</div>

@code {
    private string nameTosearch = string.Empty;
    [Parameter]
    public EventCallback<string> onsearch { get; set; }
    private void inchg()
    {
            onsearch.InvokeAsync(nameTosearch);
    }
}
